# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
flutter_sdk
.idea.DS_Store
.idea/workspace.xml
.fvm/

node_modules/


.DS_Store
.idea/workspace.xml
.fvm/
node_modules/

